body{
    background-color: grey;
    background-image: url('awaw.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
}

.container{
    height: 50vh;
    margin:auto;
    width: 15%;
    border: 3px solid black;
    padding: 4%;
    text-align: center;
    margin-top: 90px;
    background-color: hsl(0, 0%, 98%, 0.8);
    box-shadow: 10px 10px black;
}

.op{
    width: 50px;
    height: 30px;
}

input{
    text-align: center;
    justify-content: center;
    margin: auto;
}

.but {
    background-color: rgb(223, 196, 196);
    font-size: 18px;
}